@model IEnumerable<MovieRates.Models.Favoritos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1><br />


@foreach (var item in Model) {
    if (item.Utilizador.Email == User.Identity.Name) {
        <div class="Filme">
            <a asp-action="Details" asp-controller="Filmes" asp-route-id="@item.Filme.IdFilmes">
                <img class="FotoFilme" src="~/fotos/@Html.DisplayFor(modelItem => item.Filme.Capa)" />
                <div class="overlay">
                    <div class="text">
                        @Html.DisplayFor(modelItem => item.Filme.Titulo)
                    </div>
                </div>
            </a>
        </div>
    }
        
}
