@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url('../fotos/FotoJet4.jpg');
    width:100%; height:603.6px; top: 56px; left: 0; bottom: 0; right: 0;
    position: absolute;
  
    background-repeat: no-repeat;
    background-size: cover;">

</div>
